@charset "UTF-8";

/** トップ画面 **/
div.login-table table {
	margin: auto;	/**テーブル自体を画面中央に寄せる **/
	text-align: left;
}
h2.appli-title {
	text-align: center;
}
h3.appli-summary {
	text-align: center;
}
div.login-button {
	text-align: center;
	margin-top: 20px;
}
div.login-button button {
	width: 200px;
	background: #00ffff;
	padding: 7px 20px;
	border-radius: 5px;
	border: none;
	cursor: pointer;
}
div.signup-button {
	text-align: center;
	margin-top: 10px;
}
div.signup-button button {
	width: 200px;
	background: #00ff80;
	padding: 7px 20px;
	border-radius: 5px;
	border: none;
	cursor: pointer;
}
div.msg {
	text-align: center;
}


/** ヘッダー部分 **/

div.top-body {
	position: relative;
	width: 100%;
	height: 60px;
	background-color: #66CCFF;
}

/*ログアウト、貸出リストリンク*/
div.header a {
	color : #fff;
}

/*抽出検索、ジャンル検索*/
div.top-body div.left,div.right {
	display: inline-block;
}
div.left input {
	width: 20em;
	min-width: 10px;
}
div.left button {
	color: #fff;
	background: #5876a3;
	padding: 4px 4px;
	border-radius: 5px;
	border: none;
	cursor: pointer;
}
div.left a {
	color: #fff;
}
div.right {
	position: absolute;
	top: 0;
	right: 0;
	margin-right: 1%;
	margin-top: 14px;
}


/**アイテムリスト表示部分**/

/*新規登録部分*/
div.center {
	text-align: center;
	margin-top: 40px;
}
div.center a {
	padding: 0.5em 1em;
	text-decoration: none;
	background: #668ad8;
	color: #FFF;
	border-bottom: solid 4px #627295;
	border-radius: 3px;
}
div.center a:hover {
	/*ボタンを押した時*/
	-webkit-transform: translateY(4px);
	transform: translateY(4px);
	border-bottom: none;
}

/*アイテム部分*/
div.item-field {
	width: 100%;
}
div.item {
	display: inline-block;
	margin: 40px;
	background: #cefffe;
	width: 20%;
	min-width: 350px;
}
div.img-name img {
	background: #ffffff;
	margin-left: 5%;
	width: 90%;
	height: 300px;
}
div.item-link {
	height: 40px;
	text-align: center;
}
div.item-link a {
	padding: 0.2em 1em;
	text-decoration: none;
	background: #668ad8;
	color: #FFF;
	border-bottom: solid 4px #627295;
	border-radius: 3px;
}
div.item-link a:hover {
	/* ボタンを押した時 */
	-webkit-transform: translateY(4px);
	transform: translateY(4px);
	border-bottom: none;
}
/*ページネーション*/
div.paginationBox {
	text-align: center;
}


/** フォーム画面のメイン部分 **/
h2.form-title {
	text-align: center;
}
div.form table {
	margin: auto;
	text-align: left;
}
div.form table tr {
	height: 50px;
}
div.form table input {
	width: 30em;
}
div.form table img {
	width: 350px;
	height: 350px;
}
div.process-button {
	margin-top: 10px;
	text-align: center;
}
div.process-button button {
	color: #fff;
	background: #5876a3;
	padding: 7px 20px;
	border: none;
	cursor: pointer;
}
div.return-button {
	margin-top: 10px;
	text-align: center;
}
div.return-button button {
	color: #fff;
	background: #00ff40;
	padding: 7px 20px;
	border: none;
	cursor: pointer;
}



/**必須、任意ラベル **/
.required,.optional{
    padding-right: 4em;
    position: relative;
}
.required::after,.optional::after{
    content: "必須";
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 0px;
    border: 1px solid #CCC;
    padding: 0 5px;
    font-size: 85%;
    background: #d40000;
    color: #FFF;
}
.optional::after{
    content: "任意";
    background: #d2e5ff;
    color: #333;
}